* {
    box-sizing: border-box;
}
html{
    font-size: 1rem;
}
.HEADER__BOX{
    height:120px;
    background-color: white;
    border-radius: 150px;
}
body{   
    position: relative;
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #182657,#1F60EE);
    
}



.HEADER__REVEAL{
    display: flex;
    justify-content: space-between;
    margin-top: -120px;
}
.REVEAL__BOX{
    height:60px;
    width: 60px;
    background-color: white;
}

#HEADER{
    padding-bottom: 60px;
    transition: opacity 0.1s ease-in;
}

#HEADER:hover{
    opacity: 0.8;
}

.HEADER__BODY{
    margin: 0;
    display: flex;
    justify-content: center;
    margin-left: -25px;
    flex-wrap: wrap;
}

.HEADER__TEXT{
    z-index: 10;
    list-style: none;
    margin-top: 50px;
    margin-bottom: -48px;
    font-size: 1.4rem;
    font-family: Calibri, strong;
    letter-spacing: 6px;
}

.HEADER__TEXT + .HEADER__TEXT{
    margin-left: 25px;
}
.CIRCLE{
    position: absolute;
    top: 63px;
    margin-left: 378px;
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 100%;
}

.HEADER__TEXT--color{
    color: rgb(244, 185, 76);
}

.fa-solid{
    color:rgb(77, 58, 58);
}

.MAIN__DAY{
    display: flex;
    justify-content: center;
}

.MAIN__DAY__NUMBER{
    margin-right: 10px;
    color: white;
    font-size: 6.25rem;
    font-family: Calibri, strong;
}

.MAIN__DAY__TEXT{
    margin-top: 50px;
    font-family: Calibri, strong;
    color: white;
    font-size: 2.5rem;
}

.MAIN__ESTIMATION{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MAIN__ESTIMATE__DATE{
    margin-bottom: 20px;
    font-family: Calibri, strong;
    color: white;
    font-size: 1.56rem;
}

.MAIN__ESTIMATE__P{
    margin-left: 10px;
    font-family: Calibri;
    color: white;
    font-size: 1.125rem;
    text-align: center;
}

.MAIN__BOX{
    max-width: 800px;
    margin: auto;
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.MAIN__BOX__ELEMENT{
    margin-bottom: 20px;
    height: 140px;
    width: 180px;
    background-color: rgba(255,255,255, 0.1);
    border-radius: 20px;
    border: 1px solid;
    border-color: rgba(255,255,255,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
}

.MAIN__BOX__ELEMENT:hover{
    background-color: rgba(255,255, 255, 0.4);
    box-shadow: 0 12px 20px rgba(0,0,0,0.4);
}

.MAIN__BOX__ELEMENT__NUMBER{
    color: white;
    font-size: 2.5rem;
    font-family: Calibri;
}

.MAIN__BOX__ELEMENT__TEXT{
    color: white;
    font-size: 1rem;
    font-family: Calibri;
    opacity: 0.6;
}

.NOF{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NOF__TEXT{
    color: white;
    font-size: 1rem;
    font-family: Calibri;
    text-align: center;
}

.MAIN__ESTIMATE__DATE__ESTIMATE{
    height: 25px;
    width: 70px;
    background-color: rgba(255, 181, 90, 0.6);
    border-radius: 5px;
    margin-left: 20px;
}

.MAIN__ESTIMATE__DATE__ESTIMATE__TEXT{
    font-size: 1.2rem;
    margin-top: -2px;
}

.MAIN__ESTIMATE__DATE{
    display: flex;
    justify-content: center;
    align-items: center;
}

.FOOTER{
    margin-top: 70px;
}

.FOOTER__TEXT{
    color: white;
    font-size: 1rem;
    font-family: Calibri;
    text-align: center;
}

.LOGO{
    color: white;
}


@media (max-width: 300px) {
    body {
        height: 140vh;
    }
    html {
        font-size:0.75rem;
    }
    .MAIN__ESTIMATE__DATE__ESTIMATE__TEXT{
        margin-left: 6px;
        margin-top: 2px;
        font-size: 0.8em;
    }
    .CIRCLE{
        display: none;
        margin-left: 318px;
        margin-top: -4px;
        transform: scale(0.9);
    }
    .MAIN__DAY__NUMBER{
        font-size: 5.5em;
        margin-top: 18px;
    }
    .HEADER__TEXT--color{
        margin-left: -2px !important;   
    }
    .HEADER__BODY{
        flex-direction: column;
        justify-content: center ;
        align-items: center;
    }
    
}
